<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <style type="text/css">
        .w3-display-middle {
            text-align: center;
        }

        body {
            background-color: black;
            color: white;
        }

        h1 {
            color: red;
        }

        h5 {
            color: red;
        }

        a {
            color: blue;
        }
    </style>
</head>
<body>
<div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top w3-center"><code>Access Denied</code></h1>
    <hr class="w3-border-white w3-animate-left" style="margin:auto; width:50%">
    <h3 class="w3-center w3-animate-right">You don't have permission to view this site.</h3>
    <h5 class="w3-center w3-animate-zoom">Error code: 403 forbidden</h5>
    <a href="/home">Back to home</a>
</div>
</body>
</html>