<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="component">
    <div class="loader-container d-none" id="loader">
        <div class="loader"></div>
    </div>

    <div class="alert alert-success alert-dismissible" role="alert" id="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
        <i class="fa fa-check-circle success-icon"></i>
        <i class="fa fa-times-circle error-icon"></i>
        <p id="message-alert">Success</p>
    </div>
</div>

</body>
</html>