<div th:fragment="modal_detail_change_content_document" xmlns:th="http://www.w3.org/1999/xhtml">

    <script src="/custom/admin/js/modal/detail_change_content_document.js" type="text/javascript"></script>

    <style>

    </style>

    <div class="modal fade bd-example-modal-lg" id="modal_detail_change_content_document" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div style="overflow-y: initial !important" class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>Chi tiết về nội dung văn bản đã chỉnh sửa</span>
                        <i style="margin: 0 24px" class="fa fa-arrow-right"></i>
                        <span class="open-modal-approve" style="color: blue; text-decoration: underline; cursor: pointer;">Phê duyệt</span>
                    </h5>
                </div>

                <div style="overflow-y: auto; max-height: calc(100vh - 200px)" class="modal-body">
                    <div style="margin-bottom: 12px">
                        <span style="font-weight: 600">Văn bản: </span>
                        <span id="title-document"></span>
                    </div>
                    <div style="margin-bottom: 12px">
                        <span style="font-weight: 600">Người chỉnh sửa: </span>
                        <span id="name-updater"></span>
                    </div>

                    <div class="form-group">
                        <label class="label-form">Nội dung gốc</label>
                        <textarea disabled id="textarea-old-content"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="label-form">Nội dung được chỉnh sửa</label>
                        <textarea disabled id="textarea-new-content"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
</div>