<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer class="footer" th:fragment="footer">
    <style>
        .wrap-footer {
            text-align: center;
        }
        .footer-row {
            font-size: 11px;
        }
    </style>
    
    <div class="wrap-footer">
        <div style="font-weight: 600; font-size: 13px">© CỔNG THÔNG TIN ĐIỆN TỬ CHÍNH PHỦ</div>
        <div class="footer-row">Tổng Giám đốc: Nguyễn Hồng Sâm</div>
        <div class="footer-row">Trụ sở: 16 Lê Hồng Phong - Ba Đình - Hà Nội.</div>
        <div class="footer-row">Điện thoại: Văn phòng: 080 43162; Fax: 080.48924; Email:
            <a href="#">thongtinchinhphu@chinhphu.vn.</a>
        </div>
        <div class="footer-row">Bản quyền thuộc Cổng Thông tin điện tử Chính phủ.</div>
        <div class="footer-row">Ghi rõ nguồn "Cổng Thông tin điện tử Chính phủ" hoặc <a href="#">"www.chinhphu.vn"</a> khi phát hành lại thông tin từ các nguồn này.</div>
    </div>
</footer>
</body>
</html>